absl-py==1.4.0
antlr4-python3-runtime==4.9.2
appdirs==1.4.4
appnope @ file:///Users/builder/ci_310/appnope_1642500616005/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
autograd==1.5
autoray==0.6.3
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
contourpy==1.1.0
cryptography==41.0.1
cycler==0.11.0
dask==2023.5.1
debugpy @ file:///Users/builder/ci_310/debugpy_1642501698574/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dill==0.3.6
docopt==0.6.2
entrypoints @ file:///opt/concourse/worker/volumes/live/5eb4850e-dcbc-41ad-5f22-922bac778f70/volume/entrypoints_1649926457041/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.40.0
fsspec==2023.5.0
future==0.18.3
gast==0.4.0
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
h5py==3.8.0
idna==3.4
importlib-metadata==6.6.0
install==1.3.5
ipykernel @ file:///opt/concourse/worker/volumes/live/b899b150-2bf0-46bf-5730-9e8a3e9ee440/volume/ipykernel_1647000787125/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2ff86d21-7133-4fee-b3b2-6349ba52809eua87k1km/croots/recipe/ipython_1651600160735/work
jax==0.4.11
jedi @ file:///opt/concourse/worker/volumes/live/18b71546-5bde-4add-72d1-7d16b76f0f7a/volume/jedi_1644315243726/work
joblib==1.3.1
jupyter-client @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4d0a367d-74c5-447f-831e-3e1fd3984797bfrg56pj/croots/recipe/jupyter_client_1650622206454/work
jupyter-core @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_8ba802e0-15f6-4a45-a9ee-144034526783uwxtvvew/croots/recipe/jupyter_core_1651671235924/work
keras==2.12.0
kiwisolver==1.4.4
lark-parser==0.12.0
libclang==16.0.0
llvmlite==0.40.0
locket==1.0.0
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
ml-dtypes==0.2.0
mpmath==1.3.0
nest-asyncio @ file:///opt/concourse/worker/volumes/live/4c28d7d6-d544-4f26-7811-eac0cb2a490e/volume/nest-asyncio_1649847935212/work
networkx==3.1
ntlm-auth==1.5.0
numba==0.57.0
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.0
pbr==5.11.1
PennyLane==0.29.0
PennyLane-Lightning==0.30.0
pennylane-qulacs==0.29.0
PennyLane-SF==0.29.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
pipreqs==0.4.13
ply==3.11
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==4.23.2
psutil==5.9.5
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.8
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pylatexenc==2.10
pyparsing==3.1.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
pyzmq @ file:///Users/builder/ci_310/pyzmq_1642536888228/work
qiskit==0.43.2
qiskit-aer==0.12.1
qiskit-ibm-provider==0.6.1
qiskit-ibmq-provider==0.20.2
qiskit-terra==0.24.1
quantum-blackbird==0.5.0
quantum-xir==0.2.2
qulacs==0.6.1
requests==2.31.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
retworkx==0.12.1
rsa==4.9
rustworkx==0.12.1
scikit-learn==1.3.0
scipy==1.10.1
semantic-version==2.10.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stevedore==5.1.0
StrawberryFields==0.23.0
symengine==0.9.2
sympy==1.12
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
thewalrus==0.20.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado @ file:///Users/builder/ci_310/tornado_1642538510757/work
tqdm==4.65.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.3.4
wrapt==1.14.1
xanadu-cloud-client==0.3.0
yarg==0.1.9
zipp==3.15.0
